manifest {
    description = 'RNA-seq immune infiltration deconvolution nextflow pipeline'
    mainScript = 'quanTIseq.nf'
}

params.output_folder="."

timeline {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/quantiseq-nf_timeline.html"
}

report {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/quantiseq-nf_report.html"
}

trace {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/quantiseq-nf_trace.txt"
}

dag {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/quantiseq-nf_dag.html"
}
